[user]
  name = Todd Smith-Salter
  email = todd@precisepixels.ca
[core]
  editor = pstorm
  excludesfile = ~/.gitignore
  quotepath = false
[credential]
  helper = osxkeychain
[push]
  followTags = true
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  tool = pstorm
  colorMoved = zebra
[difftool]
  prompt = false
[difftool.pstorm]
  cmd = /usr/local/bin/pstorm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[merge]
  tool = pstorm
[mergetool]
  prompt = false
  keepBackup = true
[mergetool.pstorm]
  cmd = /usr/local/bin/pstorm diff "$LOCAL" "$REMOTE"
[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  unstage = reset HEAD --
  append = commit --amend --no-edit
  lola = log --graph --oneline --decorate --all
  gud = help everyday
  upstream = !git push -u origin HEAD
[includeIf "gitdir:~/Developer/teleo/"]
  path = ~/Developer/teleo/.gitconfig_include
